<!DOCTYPE html>
<html>

<head>
    <nav class="navbar">

    <div class="logo">

        📈 PortfolioIQ

    </div>

    <div>

        AI Powered Investment Insights

    </div>

</nav>
    <title>PortfolioIQ</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

    <h1>PortfolioIQ</h1>
    <p class="subtitle">AI Powered Portfolio Analyzer</p>

    <div class="summary">

    <div class="card">
        <h3>Invested Amount</h3>
        <p>₹{{ portfolio.invested_amount }}</p>
    </div>

    <div class="card">
        <h3>Current Value</h3>
        <p>₹{{ portfolio.current_value }}</p>
    </div>

    <div class="card">
        <h3>Total Gain/Loss</h3>

        <p class="{% if portfolio.gain >= 0 %}profit{% else %}loss{% endif %}">
            {% if portfolio.gain >= 0 %}
                +₹{{ portfolio.gain }}
            {% else %}
                ₹{{ portfolio.gain }}
            {% endif %}
        </p>

    </div>

    <div class="card">
        <h3>Total Return</h3>
        <p>{{ portfolio.return_percent }}%</p>
    </div>

</div>

<div class="chart-container">

    <h2>Portfolio Analytics</h2>

    <div class="charts-row">

        <div class="pie-section">
            <canvas id="portfolioChart"></canvas>
        </div>

        <div class="holdings-section">

            <h3>Current Holdings</h3>

            <table class="holdings-table">

                <tr>
                    <th>Stock</th>
                    <th>Current Price</th>
                </tr>

                {% for stock in stocks %}
                <tr>
                    <td>{{ stock["ticker"] }}</td>
                    <td>₹{{ stock["current_price"] }}</td>
                </tr>
                {% endfor %}

            </table>

        </div>

    </div>

    <hr style="margin:40px 0;">

    <h2>Buy Price vs Current Price</h2>

    <canvas id="comparisonChart"></canvas>

</div>

<div style="text-align:center; margin-top:30px;">

<a href="/analyze">

<button style="padding:15px 40px; font-size:18px;">

🤖 Analyze Portfolio

</button>

</a>

</div>

    <div class="form-container">

        <h2>Add Stock</h2>

        <form action="/add" method="POST">

            <input
                type="text"
                name = "ticker"
                placeholder="Ticker (AAPL)"
                required
            >

            <input
                type="number"
                name="shares"
                placeholder="Shares"
                required
            >

            <input
                type="number"
                step="0.01"
                name="buy_price"
                placeholder="Buy Price"
                required
            >

            <button>
                Add Stock
            </button>

        </form>

    </div>

    <div class="portfolio">

        <h2>Your Portfolio</h2>

        <table>

            <tr>
                <th>Ticker</th>
                <th>Shares</th>
                <th>Buy Price</th>
                <th>Current Price</th>
                <th>Current Value</th>
                <th>Profit/Loss</th>
                <th>Action</th>
            </tr>

            {% for stock in stocks %}

            <tr>
                <td>{{ stock["ticker"] }}</td>
                <td>{{ stock["shares"] }}</td>
                <td>₹{{ stock["buy_price"] }}</td>
                <td>₹{{ stock["current_price"] }}</td>
                <td>₹{{ stock["current_value"] }}</td>
                <td class="{% if stock['profit'] >= 0 %}profit{% else %}loss{% endif %}">

                    {% if stock["profit"] >= 0 %}
                        +₹{{ stock["profit"] }}
                    {% else %}
                        ₹{{ stock["profit"] }}
                    {% endif %}

                </td>
                <td>

                <a
                    href="/delete/{{ stock['id'] }}"
                    onclick="return confirm('Delete this stock?')"
                >

                    <button class="delete-btn">

                        Delete

                    </button>

                </a>
                </td>

            </tr>

            {% endfor %}

        </table>

        {% if stocks|length == 0 %}
        <p>No stocks added yet.</p>
        {% endif %}

    </div>

</div>

<script>
const portfolioData = {{ stocks | tojson | safe }};
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>